In [20]:
import numpy as np
import pandas as pd
from confluent_kafka import Producer
from connect import get_connection
from random import randint
from simulation import transaktion_factory
from time import sleep
import socket


from confluent_kafka import Consumer

# Einlesen des Buchbestands

In [21]:
df_bestand = pd.read_csv('data/Bestand.csv', sep=';', encoding='unicode_escape')

In [22]:
bestand_cols=df_bestand.columns

# Einlesen der Tabellen des Producers

In [23]:
c = Consumer({
    'bootstrap.servers': '0.0.0.0:9092',
    'group.id': socket.gethostname(),
    'auto.offset.reset': 'latest'
})

In [24]:
prod_Transaktion_cols={
    0:'Aktion',
    1:'Datum',
    2:'Fernleihe',
    3:'ID_Exemplar',
    4:'ID_Kunde',
    5:'Titel',
    6:'Autor',
    7:'Jahr',
    8:'Art',
    9:'Kennung',
   10:'Zugriffsort'
}

prod_Bewertung_cols={
    0:'Aktion',
    1:'ID_Kunde',
    2:'ID_Buch',
    3:'Wertung',
    4:'Rezension'
}

prod_Neukunden_cols={
    0:'Aktion',
    1:'ID_Kunde',
    2:'c_count',
    3:'Kundennr',
    4:'Vorname_1',
    5:'Vorname_2',
    6:'Nachname',
    7:'Anrede',
    8:'PLZ',
    9:'Strasse',
   10:'Hausnr',
   11:'Mail',
   12:'Tel',
   13:'Geschlecht',
   14:'Geburtsdatum',
   15:'Beruf',
   16:'Titel',
   17:'PersoNr',
   18:'PersoValidTo' 
}

cols=[prod_Transaktion_cols,prod_Bewertung_cols,prod_Neukunden_cols]
topics=["Transaktion", "Bewertung", "Neukunden"]

dfd={}

In [25]:
for col, topic in zip(cols, topics):
    print(col, topic)

    dfd[topic] = pd.DataFrame(columns=list(col.values()))
    
    
    c.subscribe([topic])
    
    for i in range(60):
        msg = c.poll(1)
        if msg is None:
            continue
    
        mrow = pd.DataFrame([msg.value().decode('utf-8').split(";")]).rename(columns=col)

        dfd[topic]=pd.concat([dfd[topic], mrow])

    dfd[topic] = dfd[topic].reset_index(drop=True)
    #c.close()

{0: 'Aktion', 1: 'Datum', 2: 'Fernleihe', 3: 'ID_Exemplar', 4: 'ID_Kunde', 5: 'Titel', 6: 'Autor', 7: 'Jahr', 8: 'Art', 9: 'Kennung', 10: 'Zugriffsort'} Transaktion
{0: 'Aktion', 1: 'ID_Kunde', 2: 'ID_Buch', 3: 'Wertung', 4: 'Rezension'} Bewertung
{0: 'Aktion', 1: 'ID_Kunde', 2: 'c_count', 3: 'Kundennr', 4: 'Vorname_1', 5: 'Vorname_2', 6: 'Nachname', 7: 'Anrede', 8: 'PLZ', 9: 'Strasse', 10: 'Hausnr', 11: 'Mail', 12: 'Tel', 13: 'Geschlecht', 14: 'Geburtsdatum', 15: 'Beruf', 16: 'Titel', 17: 'PersoNr', 18: 'PersoValidTo'} Neukunden

In [26]:
dfd['Transaktion']

,Aktion,Datum,Fernleihe,ID_Exemplar,ID_Kunde,Titel,Autor,Jahr,Art,Kennung,Zugriffsort
0,Leihe,2024-10-05 02:00:00,False,111,5056,Pamela oder Die belohnte Tugend,Samuel Richardson,1740.0,Roman,aeo79084,lcz12305
1,Rückgabe,2024-10-05 07:00:00,None,32,4172,Reise durch die Nacht,Friederike Mayröcker,1984.0,Roman,lxH76952,qEt16470
2,Leihe,2024-10-05 08:00:00,False,135,2725,Der IKS-Haken,Joseph Heller,1961.0,Roman,Egq79032,OgT30975
3,Leihe,2024-10-05 08:00:00,False,79,5811,"Paare, Passanten",Botho Strauß,1981.0,Erzählung,drq51826,OqG69128
4,Leihe,2024-10-05 11:00:00,False,229,2832,Der König David Bericht,Stefan Heym,1972.0,Roman,tZX34286,viF76815
5,Leihe,2024-10-05 11:00:00,False,188,5028,Im Westen nichts Neues,Erich Maria Remarque,1929.0,Roman,Uxv14860,CMj43901
6,Rückgabe,2024-10-05 16:00:00,None,229,2832,Der König David Bericht,Stefan Heym,1972.0,Roman,tZX34286,viF76815
7,Rückgabe,2024-10-05 21:00:00,None,154,3020,Iacocca. Eine amerikanische Karriere,Lee Iacocca,1984.0,Autobiografie,JtI41782,gvP29645
8,Leihe,2024-10-06 00:00:00,False,172,2244,Familienlexikon,Natalia Ginzburg,1963.0,Autobiografie,nGK78015,Kbl93061
9,Leihe,2024-10-06 02:00:00,False,223,5577,Brot und Wein,Ignazio Silone,1936.0,Roman,wfK01234,Teh65132
10,Leihe,2024-10-06 03:00:00,False,91,3647,Das Buch vom Sinn des Lebens,Laotse,-400.0,Philosophie,lsv46573,YML84912
11,Leihe,2024-10-06 05:00:00,False,156,2014,Unabhängigkeitstag,Richard Ford,1995.0,Roman,CXy14283,Zxr42916
12,Leihe,2024-10-06 09:00:00,False,109,1260,Barockkonzert,Alejo Carpentier,1974.0,Novelle,ulm36859,wEM15240
13,Leihe,2024-10-06 13:00:00,False,230,418,Stolz und Vorurteil,Jane Austen,1813.0,Roman,cQh36790,wbs16925
14,Rückgabe,2024-10-06 17:00:00,None,138,560,Menschen im Hotel,Vicki Baum,1929.0,Roman,weS74836,ltz62804
15,Leihe,2024-10-06 17:00:00,False,43,6420,Tractatus logico-philosophicus,Ludwig Wittgenstein,1921.0,Philosophie,bZR89312,ioq41052
16,Leihe,2024-10-06 20:00:00,False,103,6867,Phädra,Jean Racine,1677.0,Drama,zTm53872,zmu62789
17,Leihe,2024-10-06 21:00:00,False,116,3349,Das kunstseidene Mädchen,Irmgard Keun,1932.0,Roman,IkD59674,fzq50769
18,Leihe,2024-10-07 00:00:00,False,158,404,Das Göttliche Leben,Sri Aurobindo,1918.0,Philosophie,qWr47519,jdE40378
19,Leihe,2024-10-07 00:00:00,False,37,4853,Stalingrad,Theodor Plievier,1945.0,Roman,Jfy70182,FrR96458
20,Rückgabe,2024-10-07 04:00:00,None,158,404,Das Göttliche Leben,Sri Aurobindo,1918.0,Philosophie,qWr47519,jdE40378
21,Rückgabe,2024-10-07 08:00:00,None,109,1260,Barockkonzert,Alejo Carpentier,1974.0,Novelle,ulm36859,wEM15240
22,Rückgabe,2024-10-07 13:00:00,None,137,3888,Kalevala,Elias Lönnrot,1849.0,Lyrik,DpU69130,dBA57936
23,Leihe,2024-10-07 15:00:00,False,8,4582,Also sprach Zarathustra,Friedrich Nietzsche,1883.0,Philosophie,uKZ34680,JZc40395
24,Leihe,2024-10-07 18:00:00,False,65,1691,Die Brüder Karamasow,Fjodor Dostojewski,1879.0,Roman,kAl05698,MlC67013
25,Leihe,2024-10-07 18:00:00,False,92,5363,Bericht über die Ausgrabungen in Troja,Heinrich Schliemann,1874.0,Sachbuch,RTh53786,wIx90682
26,Rückgabe,2024-10-07 23:00:00,None,111,5296,Das Sein und das Nichts,Jean-Paul Sartre,1943.0,Philosophie,gwn01738,Bdo14670

In [27]:
dfd['Bewertung']

,Aktion,ID_Kunde,ID_Buch,Wertung,Rezension
0,Bewertung,45,248,5,"Ein Buch, das weder besonders gut noch besond..."
1,Bewertung,227,747,9,"Ein nahezu makelloses Werk, das durch Tiefe u..."
2,Bewertung,237,544,9,"Ein beeindruckendes Buch, das den Leser mit j..."
3,Bewertung,204,594,4,"Es schien, als ob das Buch viel Potential hät..."

In [28]:
dfd['Neukunden']

,Aktion,ID_Kunde,c_count,Kundennr,Vorname_1,Vorname_2,Nachname,Anrede,PLZ,Strasse,Hausnr,Mail,Tel,Geschlecht,Geburtsdatum,Beruf,Titel,PersoNr,PersoValidTo
0,Neukunde,126.0,258,7296,Henry,nan,Schwarz,Hr.,53520,Schloßstraße,2.0,henry.schwarz@gmx.net,02694/835429,m,2005-10-14,Software Entwickler/in,None,JTR20689,2025-08-05
1,Neukunde,126.0,259,8452,Marie,nan,Lange,Frau,99628,Eichenstraße 10,nan,marie.lange@gmx.net,036373/258767,W,12.09.1972,Data Scientist,None,PMQ12380,2022-01-05
2,Neukunde,141.0,260,8232,Lena,nan,Neumann,Fr.,24619,Bergstraße,2.0,lena.neumann@web.de,04323/893429,W,1959-07-16,Immobilienkaufmann/frau,None,IPS68537,24.04.2024
3,Neukunde,152.0,261,7338,Sofia,nan,Schulze,Frau,19339,Gartenstraße,5.0,sofia.schulze@t-online.de,038787/293582,w,2003-11-07,UX Designer/in,None,RGX29678,28.09.2024
4,Neukunde,152.0,262,6025,Emma,nan,Kaiser,Frau,67117,Drosselweg,3.0,emma.kaiser@t-online.de,06236/563646,w,1943-12-14,Senior/in,None,PMP96275,2025-01-21

%4|1727341870.513|MAXPOLL|rdkafka#consumer-3| [thrd:main]: Application maximum poll interval (300000ms) exceeded by 494ms (adjust max.poll.interval.ms for long-running message processing): leaving group

# Cleaning der Tabellen

### Transaktion

In [28]:
# IDs zu int konvertieren
dfd['Transaktion']['ID_Exemplar'] = pd.to_numeric(dfd['Transaktion']['ID_Exemplar']).astype(int)
dfd['Transaktion']['ID_Kunde'] = pd.to_numeric(dfd['Transaktion']['ID_Kunde']).astype(int)
# Jahre zu int konvertieren
dfd['Transaktion']['Jahr'] = pd.to_numeric(dfd['Transaktion']['Jahr']).astype(int)

# Fernleihe zu true oder false konvertieren
dfd['Transaktion']['Fernleihe']  = np.where(dfd['Transaktion']['Fernleihe'].str.contains("None"), False, dfd['Transaktion']['Fernleihe'] )

In [32]:

np.where(dfd['Transaktion']['Fernleihe'].str.contains("None"), False, dfd['Transaktion']['Fernleihe'] )
np.where(dfd['Transaktion']['Fernleihe'].str.contains("False"), False, dfd['Transaktion']['Fernleihe'] )
np.where(dfd['Transaktion']['Fernleihe'].str.contains("True"), True, dfd['Transaktion']['Fernleihe'] )

array([False, ' None', False, False, False, False, ' None', ' None',
       False, False, False, False, False, False, ' None', False, False,
       False, False, False, ' None', ' None', ' None', False, False,
       False, ' None'], dtype=object)

### Bewertung

In [29]:
# IDs zu int konvertieren
dfd['Bewertung']['ID_Kunde'] = pd.to_numeric(dfd['Bewertung']['ID_Kunde']).astype(int)
dfd['Bewertung']['ID_Buch'] = pd.to_numeric(dfd['Bewertung']['ID_Buch']).astype(int)
dfd['Bewertung']['Wertung'] = pd.to_numeric(dfd['Bewertung']['Wertung']).astype(int)

### Neukunden

In [30]:
# IDs zu int konvertieren
dfd['Neukunden']['ID_Kunde'] = pd.to_numeric(dfd['Neukunden']['ID_Kunde']).astype(int)
dfd['Neukunden']['Kundennr'] = pd.to_numeric(dfd['Neukunden']['Kundennr']).astype(int)

# Anreden konsistent machen 
dfd['Neukunden']['Anrede'] = dfd['Neukunden']['Anrede'].replace(['Fr\.'],'Frau', regex=True)
dfd['Neukunden']['Anrede'] = dfd['Neukunden']['Anrede'].replace(['Hr\.'],'Herr', regex=True)
# Titel: "None" to NaN
dfd['Neukunden']['Titel']  = np.where(dfd['Neukunden']['Titel'].str.contains("None"), np.nan, dfd['Neukunden']['Titel'] )
# Vorname_2: "nan" to NaN
dfd['Neukunden']['Vorname_2']  = np.where(dfd['Neukunden']['Vorname_2'].str.contains("nan"), np.nan, dfd['Neukunden']['Vorname_2'] )
# Hausnr: "nan" to NaN
dfd['Neukunden']['Hausnr']  = np.where(dfd['Neukunden']['Hausnr'].str.contains("nan"), np.nan, dfd['Neukunden']['Hausnr'] )
# 4-stellige PLZ mit "0" präfixen 
dfd['Neukunden']['PLZ']    = dfd['Neukunden']['PLZ'].str.strip().str.rjust(5, '0')

# Hausnummern aus Strasse-Spalte extrahieren
def extract_hausnr(strasse):
  if pd.isna(strasse):
    return np.nan
  parts = strasse.split()
  if len(parts) > 1 and parts[-1].isdigit():
    return parts[-1]
  else:
    return np.nan
#Apply extract_hausnr, wenn 'Hausnr' NaN und entferne die Hausnummern aus der Strasse Spalte
dfd['Neukunden'].loc[dfd['Neukunden']['Hausnr'].isnull(), 'Hausnr'] = dfd['Neukunden'].loc[dfd['Neukunden']['Hausnr'].isnull(), 'Strasse'].apply(extract_hausnr)
dfd['Neukunden']['Strasse'] = dfd['Neukunden']['Strasse'].str.rsplit(expand=True)[0]
# Convert Hausnr to int
dfd['Neukunden']['Hausnr'] = pd.to_numeric(dfd['Neukunden']['Hausnr']).astype(int)

# Geschlecht konsistent machen 
dfd['Neukunden']['Geschlecht'] = dfd['Neukunden']['Geschlecht'].str.strip().replace(["^w$", "^W$"],'Weiblich', regex=True)
dfd['Neukunden']['Geschlecht'] = dfd['Neukunden']['Geschlecht'].str.strip().replace(["^m$", "^M$"],'Männlich', regex=True)

# Datumsspalten konsistent machen
dfd['Neukunden']['Geburtsdatum'] = pd.to_datetime(dfd['Neukunden']['Geburtsdatum'],format='mixed', dayfirst=True)
dfd['Neukunden']['PersoValidTo'] = pd.to_datetime(dfd['Neukunden']['PersoValidTo'],format='mixed', dayfirst=True)

### Bestand

In [31]:
# Jahre zu int konvertieren
df_bestand['Jahr'] = pd.to_numeric(df_bestand['Jahr']).astype('Int64', errors='ignore')

# Aufbau der Tabellen für das Core DWH

In [32]:
dfs={}

In [33]:
Kunde_cols={
    0:'ID_Kunde',
    1:'ID_Mitgliedsstatus',
    2:'Kundennr',
    3:'Vorname_1',
    4:'Vorname_2',
    5:'Nachname',
    6:'Anrede',
    7:'Titel',
    8:'PLZ',
    9:'Strasse',
   10:'Hausnr',
   11:'Mail',
   12:'Tel',
   13:'Geschlecht',
   14:'Geburtsdatum',
   15:'Beruf',
   16:'PersoNr',
   17:'PersoValidTo', 
   18:'Mitglied seit',
   19:'Mitglied bis' 
}

Bewertung_cols={
    1:'ID_Kunde',
    2:'ID_Buch',
    3:'Wertung',
    4:'Rezension'
}

Buch_cols={
    1:'ID_Kunde',
    2:'ID_Buch',
    3:'Wertung',
    4:'Rezension'
}

Exemplare_cols={
    1:'ID_Bestand',
    2:'Nr',
    3:'Kennung',
    4:'Zugriffsort',
    5:'Zustand'
}

Buch_cols={
    1:'ID_Autor',
    2:'Nr',
    3:'Titel',
    4:'Jahr',
    5:'Art',
}

Leihe_cols={
    0:'ID_Kunde',
    1:'ID_Exemplar',
    2:'Ausleihdatum',
    3:'Rueckgabedatum',
    4:'Verlaengerungsstatus',
    5:'Mahnstatus',
    6:'Fernleihe'
}

Mitgliedsstatus_cols={
    0:'ID_Mitgliedsstatus',
    2:'Bezeichnung',
    3:'Jahresbeitrag',
    4:'Mahnbetrag'
}

Beitragszahlung_cols={
    0:'ID_Zahlung',
    2:'ID_Kunde',
    3:'Datum',
    4:'Betrag',
}

In [34]:
dfs['Kunde']     = dfd['Neukunden'].reindex(columns=list(Kunde_cols.values()))
dfs['Bewertung'] = dfd['Bewertung'].reindex(columns=list(Bewertung_cols.values()))
dfs['Exemplare'] = df_bestand.reindex(columns=list(Exemplare_cols.values())).rename(columns={
                                                                        'ID_Bestand':'ID_Exemplar',
                                                                        'Nr':'ID_Buch'    
                                                                        })

dfs['Autor']   = df_bestand[['Autor', 'Herkunft']].drop_duplicates().reset_index(drop=True).reset_index().rename(columns={'index':'ID_Autor'})

dfs['Buch']    = pd.merge(df_bestand, 
                          dfs['Autor'], 
                          on=['Autor']
                         )[list(Buch_cols.values())]                                  \
                                                    .drop_duplicates()                \
                                                    .reset_index(drop=True)           \
                                                    .rename(columns={'Nr':'ID_Buch'})

dfs['Leihe'] = dfd['Transaktion'].reindex(columns=list(Leihe_cols.values())).reset_index().rename(columns={'index':'ID_Leihe'})


### more ###
dfs['Mitgliedsstatus'] = pd.DataFrame(columns=list(Mitgliedsstatus_cols.values()))
dfs['Beitragszahlung'] = dfd['Neukunden'].reindex(columns=list(Beitragszahlung_cols.values()))

%4|1727339292.849|MAXPOLL|rdkafka#consumer-2| [thrd:main]: Application maximum poll interval (300000ms) exceeded by 453ms (adjust max.poll.interval.ms for long-running message processing): leaving group
%6|1727339433.127|FAIL|rdkafka#consumer-2| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY)
%6|1727339433.128|FAIL|rdkafka#consumer-2| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY)
%6|1727339433.128|FAIL|rdkafka#consumer-2| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Disconnected (after 0ms in state APIVERSION_QUERY, 1 identical error(s) suppressed)
%6|1727339433.284|FAIL|rdkafka#consumer-2| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 1ms in state APIVERSION_QUERY, 1 identical error(s) suppressed)
%6|1727339433.293|FAIL|rdkafka#consumer-2| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY, 1 identical error(s) suppressed)
%3|1727339437.714|FAIL|rdkafka#consumer-2| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT)
%3|1727339437.861|FAIL|rdkafka#consumer-2| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT)
%3|1727339437.937|FAIL|rdkafka#consumer-2| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT)
%6|1727339448.334|FAIL|rdkafka#consumer-2| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY)
%6|1727339455.369|FAIL|rdkafka#consumer-2| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Disconnected (after 0ms in state APIVERSION_QUERY)
%6|1727339455.520|FAIL|rdkafka#consumer-2| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY)
%5|1727339463.341|PARTCNT|rdkafka#consumer-2| [thrd:main]: Topic Bewertung partition count changed from 1 to 0
%4|1727339463.341|CLUSTERID|rdkafka#consumer-2| [thrd:main]: Broker 0.0.0.0:9092/bootstrap reports different ClusterId "5BjhgVQITnKKxcDwa47Vlg" than previously known "nj5D6QrsS8yoIcIIvNCwgQ": a client must not be simultaneously connected to multiple clusters

# Schicke die Tabellen an den SQL Server

In [37]:
from sqlalchemy import create_engine, inspect, text

USER = 'root'
PASSWORD = 'root'
HOST = 'localhost'          # see yml file
PORT = 3307
DATABASE = 'test_db_1'
 

def get_connection(database=DATABASE):
    return create_engine(
        url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}"\
            .format(USER, PASSWORD, HOST, PORT, database)
    )

engine = get_connection('mysql')
with engine.connect() as connection:
    insp = inspect(engine)
    db_list = insp.get_schema_names()
    print(f"Connection to the {HOST} for user {USER} created successfully.")
    if DATABASE not in db_list:
        sql = text(f"CREATE DATABASE {DATABASE} CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;")
        result = connection.execute(sql)
        if result:
            print(f"Database {DATABASE} created!")

Connection to the localhost for user root created successfully.

In [38]:
for Tabelle in dfs.keys():
    dfs[Tabelle].to_sql(Tabelle, con=engine,schema=DATABASE, index=False, if_exists='append')