In [1]:
import numpy as np
import pandas as pd
from confluent_kafka import Producer
from connect import get_connection
from random import randint
from simulation import transaktion_factory
from time import sleep
import socket


from confluent_kafka import Consumer

# Einlesen des Buchbestands

In [2]:
df_bestand = pd.read_csv('data/Bestand.csv', sep=';', encoding='unicode_escape')

In [3]:
bestand_cols=df_bestand.columns

# Einlesen der Tabellen des Producers

In [4]:
c = Consumer({
    'bootstrap.servers': '0.0.0.0:9092',
    'group.id': socket.gethostname(),
    'auto.offset.reset': 'latest'
})

In [26]:
prod_Transaktion_cols={
    0:'Aktion',
    1:'Datum',
    2:'Fernleihe',
    3:'ID_Exemplar',
    4:'ID_Kunde',
    5:'Titel',
    6:'Autor',
    7:'Jahr',
    8:'Art',
    9:'Kennung',
   10:'Zugriffsort'
}

prod_Bewertung_cols={
    0:'Aktion',
    1:'ID_Kunde',
    2:'ID_Buch',
    3:'Wertung',
    4:'Rezension'
}

prod_Neukunden_cols={
    0:'Aktion',
    1:'ID_Kunde',
    #2:'c_count',
    3:'Kundennr',
    4:'Vorname_1',
    5:'Vorname_2',
    6:'Nachname',
    7:'Anrede',
    8:'PLZ',
    9:'Strasse',
   10:'Hausnr',
   11:'Mail',
   12:'Tel',
   13:'Geschlecht',
   14:'Geburtsdatum',
   15:'Beruf',
   16:'Titel',
   17:'PersoNr',
   18:'PersoValidTo' 
}

cols=[prod_Transaktion_cols,prod_Bewertung_cols,prod_Neukunden_cols]
topics=["Transaktion", "Bewertung", "Neukunden"]

dfd={}

In [27]:
for col, topic in zip(cols, topics):
    print(col, topic)

    dfd[topic] = pd.DataFrame(columns=list(col.values()))
    
    
    c.subscribe([topic])
    
    for i in range(60):
        msg = c.poll(1)
        if msg is None:
            continue
    
        mrow = pd.DataFrame([msg.value().decode('utf-8').split(";")]).rename(columns=col)

        dfd[topic]=pd.concat([dfd[topic], mrow])

    dfd[topic] = dfd[topic].reset_index(drop=True)
    #c.close()

{0: 'Aktion', 1: 'Datum', 2: 'Fernleihe', 3: 'ID_Exemplar', 4: 'ID_Kunde', 5: 'Titel', 6: 'Autor', 7: 'Jahr', 8: 'Art', 9: 'Kennung', 10: 'Zugriffsort'} Transaktion
{0: 'Aktion', 1: 'ID_Kunde', 2: 'ID_Buch', 3: 'Wertung', 4: 'Rezension'} Bewertung
{0: 'Aktion', 1: 'ID_Kunde', 3: 'Kundennr', 4: 'Vorname_1', 5: 'Vorname_2', 6: 'Nachname', 7: 'Anrede', 8: 'PLZ', 9: 'Strasse', 10: 'Hausnr', 11: 'Mail', 12: 'Tel', 13: 'Geschlecht', 14: 'Geburtsdatum', 15: 'Beruf', 16: 'Titel', 17: 'PersoNr', 18: 'PersoValidTo'} Neukunden

In [28]:
dfd['Transaktion']

,Aktion,Datum,Fernleihe,ID_Exemplar,ID_Kunde,Titel,Autor,Jahr,Art,Kennung,Zugriffsort
0,Leihe,2025-01-17 02:00:00,False,163,966,Jane Eyre,Charlotte Brontë,1847.0,Roman,XJj49163,xWc37561
1,Leihe,2025-01-17 02:00:00,False,190,5818,Das rote Zimmer,August Strindberg,1879.0,Roman,OSK50471,Qdw65418
2,Leihe,2025-01-17 03:00:00,False,28,5656,Der moderne Kapitalismus,Werner Sombart,1902.0,Sachbuch,XKb87214,zjr62517
3,Rückgabe,2025-01-17 08:00:00,None,28,4656,Der Aufstand der Massen,José Ortega y Gasset,1930.0,Sachbuch,CAN86504,ijy86715
4,Leihe,2025-01-17 11:00:00,False,55,3527,Der Komplize,György Konrád,1983.0,Roman,AMr16975,qkW52709
5,Leihe,2025-01-17 13:00:00,False,69,2613,Hölderlin,Peter Härtling,1976.0,Roman,LdO41780,AGs87436
6,Leihe,2025-01-17 14:00:00,False,58,2517,Aggression,Friedrich Hacker,1971.0,Sachbuch,ByG91465,jya70863
7,Leihe,2025-01-17 15:00:00,False,141,5676,Wie eine Träne im Ozean,Manès Sperber,1961.0,Roman,QaE40513,NCq35976
8,Leihe,2025-01-17 15:00:00,False,275,5666,Der Untergang des Abendlandes,Oswald Spengler,1918.0,Sachbuch,DrB70831,pZn23405
9,Rückgabe,2025-01-17 20:00:00,None,128,1072,Die Kultur der Renaissance in Italien,Jacob Burckhardt,1860.0,Sachbuch,HMu15360,zqb41952
10,Leihe,2025-01-17 20:00:00,False,170,4893,Wir amüsieren uns zu Tode,Neil Postman,1985.0,Sachbuch,ovO93156,Auh80326
11,Leihe,2025-01-17 22:00:00,False,20,66,Guzmán de Alfarache,Mateo Alemán,1599.0,Roman,vqc84130,aeO62381
12,Leihe,2025-01-18 01:00:00,False,224,384,Der Report der Magd,Margaret Atwood,1985.0,Roman,Wna78195,ljx09218
13,Rückgabe,2025-01-18 06:00:00,None,221,1363,Die Canterbury-Erzählungen,Geoffrey Chaucer,1387.0,Erzählung,MEk28061,nTq83917
14,Leihe,2025-01-18 08:00:00,False,294,6553,Warten auf Godot,Samuel Beckett,1952.0,Drama,XJD36241,xsi24158
15,Rückgabe,2025-01-18 12:00:00,None,163,1800,Der Name der Rose,Umberto Eco,1980.0,Roman,WSK74238,abO98016
16,Leihe,2025-01-18 15:00:00,False,186,5863,Die Waffen nieder!,Bertha von Suttner,1889.0,Roman,tji51730,rSR67403
17,Leihe,2025-01-18 18:00:00,False,128,2518,Aggression,Friedrich Hacker,1971.0,Sachbuch,hKf23147,Cei79284
18,Leihe,2025-01-18 18:00:00,False,280,6662,Gott schütze dieses Haus,Elizabeth George,1988.0,Roman,XDW41586,YJq08514
19,Leihe,2025-01-18 18:00:00,False,217,5186,Einführung in die mathematische Philosophie,Bertrand Russell,1919.0,Philosophie,pdo13856,qzx96542
20,Leihe,2025-01-18 18:00:00,False,68,3182,Psychologische Typen,C.G. Jung,1921.0,Sachbuch,NDn26893,ECY34810
21,Leihe,2025-01-18 20:00:00,False,193,4918,Schiffsmeldungen,E. Annie Proulx,1993.0,Roman,SnN56947,fIa81529
22,Leihe,2025-01-18 22:00:00,False,189,3833,Babbitt,Sinclair Lewis,1922.0,Roman,gTj65098,Asd63971
23,Leihe,2025-01-18 22:00:00,False,19,4988,Besuch des Dichters,Charles-Ferdinand Ramuz,1923.0,Roman,EBf59127,tEr76843
24,Leihe,2025-01-18 23:00:00,False,257,1883,Kapitän Nemos Bibliothek,Per Olov Enquist,1991.0,Roman,fLP35298,zYN60943
25,Leihe,2025-01-18 23:00:00,False,35,2250,Matto regiert,Friedrich Glauser,1936.0,Roman,Fjd93476,tza38597
26,Rückgabe,2025-01-19 03:00:00,None,82,4253,Jürg Jenatsch,Conrad Ferdinand Meyer,1876.0,Roman,EOb18750,Ydt89367
27,Leihe,2025-01-19 03:00:00,False,221,5627,Tausend Morgen,Jane Smiley,1991.0,Roman,vfe41862,KHQ38157
28,Leihe,2025-01-19 03:00:00,False,177,5187,Die Kinder vom Arbat,Anatoli Rybakow,1987.0,Roman,iXA49613,DoR70892
29,Rückgabe,2025-01-19 07:00:00,None,172,3670,Die sieben Säulen der Weisheit,T.E. Lawrence,1926.0,Autobiografie,jPX53126,NnH35897
30,Rückgabe,2025-01-19 11:00:00,None,262,6734,High Fidelity,Nick Hornby,1995.0,Roman,ykG79402,NoV90864
31,Leihe,2025-01-19 12:00:00,False,196,1475,Claudine-Romane,Colette,1900.0,Roman,wjS85726,ISr19475
32,Leihe,2025-01-19 13:00:00,False,159,2983,Herbst des Mittelalters,Johan Huizinga,1919.0,Sachbuch,dhM60243,aWI70256
33,Leihe,2025-01-19 13:00:00,False,127,5070,Die Aufzeichnungen des Malte Laurids Brigge,Rainer Maria Rilke,1910.0,Roman,bqE14360,iRo73865
34,Leihe,2025-01-19 16:00:00,False,227,5825,Der Laden,Erwin Strittmatter,1983.0,Roman,CGt34508,JSf30625
35,Leihe,2025-01-19 17:00:00,False,291,3902,Unter dem Vulkan,Malcolm Lowry,1947.0,Roman,SyZ71423,Vlc85970
36,Leihe,2025-01-19 17:00:00,False,228,389,Das Zeitalter der Angst,W. H. Auden,1947.0,Lyrik,Tcp63984,aJH27968
37,Leihe,2025-01-19 17:00:00,False,233,4449,Das Attentat,Harry Mulisch,1982.0,Roman,alU72504,DcX46709
38,Leihe,2025-01-19 17:00:00,False,178,2513,Theorie des kommunikativen Handelns,Jürgen Habermas,1981.0,Philosophie,pCG06375,EVA49172
39,Leihe,2025-01-19 18:00:00,False,98,3732,Wer die Nachtigall stört,Harper Lee,1960.0,Roman,ELO73820,lrI80734
40,Rückgabe,2025-01-19 22:00:00,None,142,2412,Im Krebsgang,Günter Grass,2002.0,Roman,rZS89064,lDv08326
41,Leihe,2025-01-20 00:00:00,False,198,2291,Aus meinem Leben. Dichtung und Wahrheit,Johann Wolfgang von Goethe,1811.0,Autobiografie,ofX13604,DHT87260
42,Leihe,2025-01-20 01:00:00,False,90,4636,Im Dickicht der Kindheit,Joyce Carol Oates,1976.0,Roman,LgF18204,rIf84201
43,Rückgabe,2025-01-20 06:00:00,None,299,3262,Lange Schatten,Marie Luise Kaschnitz,1960.0,Erzählung,trh82579,pBH70539
44,Leihe,2025-01-20 09:00:00,False,146,4326,Auf dem Weg zur vaterlosen Gesellschaft,Alexander Mitscherlich,1963.0,Sachbuch,mls61253,OGp38059
45,Rückgabe,2025-01-20 13:00:00,None,48,5747,Rot und Schwarz,Stendhal,1830.0,Roman,Sko13589,hPH14928
46,Leihe,2025-01-20 16:00:00,False,21,6754,Generation Golf,Florian Illies,2000.0,Roman,xik62704,VhS29018
47,Rückgabe,2025-01-20 20:00:00,None,173,5255,Die Geschichte meines Lebens,George Sand,1854.0,Roman,VtF96810,RBG59416
48,Rückgabe,2025-01-21 00:00:00,None,76,5708,Ungefähre Landschaft,Peter Stamm,2001.0,Roman,zog14786,Jej96127
49,Leihe,2025-01-21 00:00:00,False,51,982,"Von der Ursache, dem Prinzip und dem Einen",Giordano Bruno,1584.0,Philosophie,fHk95376,heU31286
50,Rückgabe,2025-01-21 04:00:00,None,210,2142,Die Jahre mit Laura Diaz,Carlos Fuentes,1999.0,Roman,IqO93410,bYN67095
51,Leihe,2025-01-21 04:00:00,False,175,5086,Eine Zeit in der Hölle,Arthur Rimbaud,1873.0,Roman,LKe68127,Uda58620
52,Leihe,2025-01-21 07:00:00,False,172,718,Aus dem Wörterbuch des Teufels,Ambrose Bierce,1906.0,Aphorismen,VIu68074,OkE56290
53,Rückgabe,2025-01-21 11:00:00,None,185,2312,Die Geschichte der Kunst,Ernst Gombrich,1950.0,Sachbuch,gWI95372,Iat53048
54,Rückgabe,2025-01-21 15:00:00,None,263,3680,Die Islandglocke,Halldór Laxness,1943.0,Roman,EFB73851,wVJ36742
55,Rückgabe,2025-01-21 20:00:00,None,34,6308,Die Ästhetik des Widerstandes,Peter Weiss,1975.0,Roman,Ukr38160,xfU03981
56,Rückgabe,2025-01-22 01:00:00,None,187,4032,Bekenntnisse des Hochstaplers Felix Krull,Thomas Mann,1954.0,Roman,wzj25804,kfD95081
57,Leihe,2025-01-22 01:00:00,False,206,4540,Die Entdeckung der Langsamkeit,Sten Nadolny,1983.0,Roman,JNu95173,JWx49721
58,Leihe,2025-01-22 02:00:00,False,282,637,Die Nacht der Unschuld,Tahar Ben Jelloun,1987.0,Roman,FJi37058,hyz73541
59,Leihe,2025-01-22 02:00:00,False,154,6331,Die vierzig Tage des Musa Dagh,Franz Werfel,1933.0,Roman,jZF12836,niZ92317

In [29]:
dfd['Bewertung']

,Aktion,ID_Kunde,ID_Buch,Wertung,Rezension
0,Bewertung,4,860,7,"Ein gelungenes Buch, das mich unterhalten hat..."
1,Bewertung,8,151,9,Dieses Buch hat mich beeindruckt! Es ist fast...
2,Bewertung,32,948,5,Das Buch war durchschnittlich. Einige Teile w...
3,Bewertung,85,166,4,Langweilig und vorhersehbar.
4,Bewertung,187,354,5,"Ein durchschnittliches Buch, das weder besond..."
5,Bewertung,15,770,3,Die Geschichte kam nie wirklich in Fahrt. Ich...
6,Bewertung,32,614,9,Ich war beeindruckt von der Tiefe der Charakt...
7,Bewertung,199,223,10,Dieses Buch ist ein wahres Meisterwerk! Es ve...
8,Bewertung,70,787,6,Ich mochte die Grundidee und einige der Chara...
9,Bewertung,111,853,2,Zäh und uninteressant.
10,Bewertung,38,752,10,Ein absolutes Meisterwerk! Jedes Kapitel war ...
11,Bewertung,45,248,5,"Ein Buch, das weder besonders gut noch besond..."
12,Bewertung,97,815,3,Nicht mein Fall. Enttäuschend.
13,Bewertung,138,446,8,Spannend von Anfang bis Ende.
14,Bewertung,154,837,10,"Ein absolut beeindruckendes Buch, das tief be..."
15,Bewertung,27,45,6,"Das Buch war in Ordnung, weder herausragend n..."
16,Bewertung,19,764,1,Dieses Buch hat mir überhaupt nicht gefallen....
17,Bewertung,148,274,5,Das Buch war weder besonders beeindruckend no...
18,Bewertung,221,1004,3,"Das Buch hat seine Momente, jedoch fand ich e..."
19,Bewertung,5,547,6,Ein durchschnittliches Buch. Einige Höhepunkt...
20,Bewertung,11,183,2,Es war eine Enttäuschung. Das Potenzial wurde...
21,Bewertung,19,250,9,"Eine wunderbare Geschichte, die tief berührt ..."
22,Bewertung,78,718,7,"Gut geschrieben, mit einigen überraschenden W..."
23,Bewertung,143,789,6,"Mittelmäßig, aber okay."
24,Bewertung,81,423,4,Das Buch hat sich oft in Details verloren und...
25,Bewertung,192,258,8,"Ein beeindruckendes Buch, das trotz kleinerer..."
26,Bewertung,74,520,8,"Ein packendes Buch, das schwer aus der Hand z..."
27,Bewertung,78,931,10,Ein literarisches Meisterwerk. Die Mischung a...
28,Bewertung,105,707,6,"Okay, aber nichts Neues."

In [31]:
dfd['Neukunden']

,Aktion,ID_Kunde,Kundennr,Vorname_1,Vorname_2,Nachname,Anrede,PLZ,Strasse,Hausnr,Mail,Tel,Geschlecht,Geburtsdatum,Beruf,Titel,PersoNr,PersoValidTo,2
0,Neukunde,62,6678,Noah,nan,Kaiser,Herr,37620,Im Winkel,2.0,noah.kaiser@web.de,05533/409541,M,1944-02-28,Senior/in,None,XVP47503,2025-06-05,314
1,Neukunde,63,5996,Julian,nan,Schröder,Herr,15377,Neue Straße,9.0,julian.schröder@gmail.com,033437/244553,m,05/08/1939,Senior/in,None,RKJ42136,2022-01-03,315
2,Neukunde,64,7378,Sofia,nan,Hoffmann,Fr.,99628,Fliederweg,8.0,sofia.hoffmann@t-online.de,036373/802292,w,24.07.1978,Sektions- und Präparationsassistent/in,None,QAN35490,16.08.2025,316
3,Neukunde,65,8073,Mia,nan,Wolf,Fr.,88524,Rosenstraße,6.0,mia.wolf@t-online.de,07374/395656,w,1986-03-04,Immobilienwirt,None,KRQ91853,2025-06-06,317
4,Neukunde,66,9105,Jonas,nan,Herrmann,Herr,99869,Kirchplatz,8.0,jonas.herrmann@gmail.com,03621/202533,M,29.05.1976,Controller/in,Dr.,TAR62891,2023-03-23,318
5,Neukunde,67,5865,Lara,nan,Wolf,Frau,83565,Königsberger Straße 4,nan,lara.wolf@web.de,08092/439859,w,1957-10-17,Rettungssanitäter/in,None,ZPW90287,2021-05-28,319
6,Neukunde,68,8074,Emily,nan,Schulze,Frau,16259,Buchenweg,8.0,emily.schulze@web.de,033451/320243,w,1942-09-08,Senior/in,None,SPX95312,13/08/2021,320
7,Neukunde,69,3872,Leonie,nan,Mayer,Frau,25712,Hauptstraße,6.0,leonie.mayer@gmail.com,04825/570120,w,1987-07-08,Bauzeichner/in,None,AMH06412,Wed May 18 2022,321
8,Neukunde,70,5321,Ben,nan,Köhler,Hr.,67586,Kirchgasse,7.0,ben.köhler@gmx.net,06733/682676,Männlich,1965-11-03,Maler/in und Lackierer/in,None,XEV31827,2024-02-07,322
9,Neukunde,71,2529,Lena,nan,Krause,Frau,86747,Wilhelmstraße,5.0,lena.krause@t-online.de,09087/143513,w,11.05.1980,Sektions- und Präparationsassistent/in,None,FEB46382,2022-10-17,323

# Cleaning der Tabellen

### Transaktion

In [10]:
# IDs zu int konvertieren
dfd['Transaktion']['ID_Exemplar'] = pd.to_numeric(dfd['Transaktion']['ID_Exemplar']).astype(int)
dfd['Transaktion']['ID_Kunde'] = pd.to_numeric(dfd['Transaktion']['ID_Kunde']).astype(int)
# Jahre zu int konvertieren
dfd['Transaktion']['Jahr'] = pd.to_numeric(dfd['Transaktion']['Jahr']).astype(int)

# Fernleihe zu true oder false konvertieren
dfd['Transaktion']['Fernleihe'] = np.where(dfd['Transaktion']['Fernleihe'].astype(str).str.contains("None"), False, dfd['Transaktion']['Fernleihe'] )
dfd['Transaktion']['Fernleihe'] = np.where(dfd['Transaktion']['Fernleihe'].astype(str).str.contains("False"), False, dfd['Transaktion']['Fernleihe'] )
dfd['Transaktion']['Fernleihe'] = np.where(dfd['Transaktion']['Fernleihe'].astype(str).str.contains("True"), True, dfd['Transaktion']['Fernleihe'] )

### Bewertung

In [11]:
# IDs zu int konvertieren
dfd['Bewertung']['ID_Kunde'] = pd.to_numeric(dfd['Bewertung']['ID_Kunde']).astype(int)
dfd['Bewertung']['ID_Buch'] = pd.to_numeric(dfd['Bewertung']['ID_Buch']).astype(int)
dfd['Bewertung']['Wertung'] = pd.to_numeric(dfd['Bewertung']['Wertung']).astype(int)

### Neukunden

In [37]:
# IDs zu int konvertieren
dfd['Neukunden']['ID_Kunde'] = pd.to_numeric(dfd['Neukunden']['ID_Kunde']).astype(int)
dfd['Neukunden']['Kundennr'] = pd.to_numeric(dfd['Neukunden']['Kundennr']).astype(int)

# Anreden konsistent machen 

dfd['Neukunden']['Anrede'] = dfd['Neukunden']['Anrede'].replace(['Fr\.'],'Frau', regex=True)
dfd['Neukunden']['Anrede'] = dfd['Neukunden']['Anrede'].replace(['Hr\.'],'Herr', regex=True)
# Titel: "None" to NaN
dfd['Neukunden']['Titel']  = np.where(dfd['Neukunden']['Titel'].str.contains("None"), np.nan, dfd['Neukunden']['Titel'] )
# Vorname_2: "nan" to NaN
dfd['Neukunden']['Vorname_2']  = np.where(dfd['Neukunden']['Vorname_2'].str.contains("nan"), np.nan, dfd['Neukunden']['Vorname_2'] )
# Hausnr: "nan" to NaN
dfd['Neukunden']['Hausnr'] = dfd['Neukunden']['Hausnr'].astype(str)
dfd['Neukunden']['Hausnr']  = np.where(dfd['Neukunden']['Hausnr'].str.contains("nan"), np.nan, dfd['Neukunden']['Hausnr'] )
# 4-stellige PLZ mit "0" präfixen 
dfd['Neukunden']['PLZ']    = dfd['Neukunden']['PLZ'].str.strip().str.rjust(5, '0')

# Hausnummern aus Strasse-Spalte extrahieren
def extract_hausnr(strasse):
  if pd.isna(strasse):
    return np.nan
  parts = strasse.split()
  if len(parts) > 1 and parts[-1].isdigit():
    return parts[-1]
  else:
    return np.nan
#Apply extract_hausnr, wenn 'Hausnr' NaN und entferne die Hausnummern aus der Strasse Spalte
dfd['Neukunden'].loc[dfd['Neukunden']['Hausnr'].isnull(), 'Hausnr'] = dfd['Neukunden'].loc[dfd['Neukunden']['Hausnr'].isnull(), 'Strasse'].apply(extract_hausnr)
dfd['Neukunden']['Strasse'] = dfd['Neukunden']['Strasse'].str.rsplit(expand=True)[0]
# Convert Hausnr to int
dfd['Neukunden']['Hausnr'] = pd.to_numeric(dfd['Neukunden']['Hausnr']).astype(int)

# Geschlecht konsistent machen 
dfd['Neukunden']['Geschlecht'] = dfd['Neukunden']['Geschlecht'].str.strip().replace(["^w$", "^W$"],'Weiblich', regex=True)
dfd['Neukunden']['Geschlecht'] = dfd['Neukunden']['Geschlecht'].str.strip().replace(["^m$", "^M$"],'Männlich', regex=True)

# Datumsspalten konsistent machen
dfd['Neukunden']['Geburtsdatum'] = pd.to_datetime(dfd['Neukunden']['Geburtsdatum'],format='mixed', dayfirst=True)
dfd['Neukunden']['PersoValidTo'] = pd.to_datetime(dfd['Neukunden']['PersoValidTo'],format='mixed', dayfirst=True)

### Bestand

In [13]:
# Jahre zu int konvertieren
df_bestand['Jahr'] = pd.to_numeric(df_bestand['Jahr']).astype('Int64', errors='ignore')

### Bestandskunden

In [65]:
df_bestandskunden = pd.read_csv('data/Kunde.csv', sep=',', encoding='unicode_escape')

df_bestandskunden['Aktion'] = pd.Series(['Bestandskunde' for x in range(len(df_bestandskunden.index))])


# IDs zu int konvertieren
df_bestandskunden['ID_Kunde'] = pd.to_numeric(df_bestandskunden['ID_Kunde']).astype(int)
df_bestandskunden['Kundennr'] = pd.to_numeric(df_bestandskunden['Kundennr']).astype(int)

# Anreden konsistent machen 

df_bestandskunden['Anrede'] = df_bestandskunden['Anrede'].replace(['Fr\.'],'Frau', regex=True)
df_bestandskunden['Anrede'] = df_bestandskunden['Anrede'].replace(['Hr\.'],'Herr', regex=True)

df_bestandskunden['Hausnr']  = np.where(df_bestandskunden['Hausnr'].astype(str).str.contains("NaN"), np.nan, df_bestandskunden['Hausnr'] )
# 4-stellige PLZ mit "0" präfixen 
df_bestandskunden['PLZ']    = df_bestandskunden['PLZ'].astype(str).str.strip().str.rjust(5, '0')

# Hausnummern aus Strasse-Spalte extrahieren
def extract_hausnr(strasse):
  if pd.isna(strasse):
    return np.nan
  parts = strasse.split()
  if len(parts) > 1 and parts[-1].isdigit():
    return parts[-1]
  else:
    return np.nan
#Apply extract_hausnr, wenn 'Hausnr' NaN und entferne die Hausnummern aus der Strasse Spalte
df_bestandskunden.loc[df_bestandskunden['Hausnr'].isnull(), 'Hausnr'] = df_bestandskunden.loc[df_bestandskunden['Hausnr'].isnull(), 'Strasse'].apply(extract_hausnr)
df_bestandskunden['Strasse'] = df_bestandskunden['Strasse'].str.rsplit(expand=True)[0]
# Convert Hausnr to int
df_bestandskunden['Hausnr'] = pd.to_numeric(df_bestandskunden['Hausnr']).astype('Int64')

# Geschlecht konsistent machen 
df_bestandskunden['Geschlecht'] = df_bestandskunden['Geschlecht'].str.strip().replace(["^w$", "^W$"],'Weiblich', regex=True)
df_bestandskunden['Geschlecht'] = df_bestandskunden['Geschlecht'].str.strip().replace(["^m$", "^M$"],'Männlich', regex=True)

# Datumsspalten konsistent machen
df_bestandskunden['Geburtsdatum'] = pd.to_datetime(df_bestandskunden['Geburtsdatum'],format='mixed', dayfirst=True)
df_bestandskunden['PersoValidTo'] = pd.to_datetime(df_bestandskunden['PersoValidTo'],format='mixed', dayfirst=True)

/tmp/ipykernel_1109/4017946161.py:29: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '['8' '6' '4' '8' '3' '7' '6' '4' '3' '8' '3' '6' '8' '3' '8' '7' '3' '8'
 '2' '8' '1' '5' '4' '3' '3' '5' '2' '8' '5' '7' '7' '3' '7' '7' '9' '1'
 '5' '10' '4' '5' '4' '1' '9' '10' '10' '7' '8' '2' '10' '5' '8' '6' '8'
 '4' '3' '4' '9' '9' '10' '5' '4' '2' '7' '7' '3' '7' '5' '2' '2' '8' '9'
 '8' '3' '4' '3' '10' '10' '3' '10' '5' '9' '5' '7' '10']' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_bestandskunden.loc[df_bestandskunden['Hausnr'].isnull(), 'Hausnr'] = df_bestandskunden.loc[df_bestandskunden['Hausnr'].isnull(), 'Strasse'].apply(extract_hausnr)

In [64]:
df_bestandskunden

,ID_Kunde,Kundennr,Vorname_1,Vorname_2,Nachname,Anrede,PLZ,Strasse,Hausnr,Mail,Tel,Geschlecht,Geburtsdatum,Beruf,Titel,PersoNr,PersoValidTo,Aktion
0,1,8366,Elias,NaN,Kaiser,Herr,24619,MozartstraÃe,8,elias.kaiser@web.de,04323/829874,Männlich,1988-02-22,Product Owner,Dr.,NPE20376,2021-05-27,Bestandskunde
1,2,9208,Elias,NaN,KÃ¶nig,Herr,54574,MÃ¼hlenstraÃe,1,elias.kÃ¶nig@gmail.com,06594/313132,Männlich,1997-07-28,Sektions- und PrÃ¤parationsassistent/in,NaN,GMN18965,2024-01-26,Bestandskunde
2,3,3837,Moritz,NaN,MÃ¼ller,Herr,01097,EichendorffstraÃe,8,moritz.mÃ¼ller@gmail.com,0351/156882,Männlich,1963-08-20,Data Analyst,NaN,DNS52984,2022-11-05,Bestandskunde
3,4,7306,Leonie,NaN,Herrmann,Frau,23923,Marktplatz,1,leonie.herrmann@web.de,038821/70723,Weiblich,1952-07-07,Senior/in,NaN,IXU64239,2025-03-27,Bestandskunde
4,5,4589,Elias,NaN,KrÃ¼ger,Herr,55469,Kirchweg,4,elias.krÃ¼ger@gmail.com,06766/872686,Männlich,1995-07-13,Landwirt/in,NaN,MJB45392,2025-01-15,Bestandskunde
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,5019,Louis,NaN,Schulze,Herr,25712,RÃ¶merstraÃe,7,louis.schulze@gmail.com,04825/579613,Männlich,2006-01-27,Bauzeichner/in,NaN,XGP73984,2025-03-31,Bestandskunde
496,497,6603,Sophie,NaN,Braun,Frau,16259,Neue,10,sophie.braun@t-online.de,033451/330710,Weiblich,1967-04-02,Finanzwirt/in,NaN,MVR46513,2023-10-21,Bestandskunde
497,498,4465,Philipp,NaN,Kaiser,Herr,08606,Breslauer,9,philipp.kaiser@t-online.de,037463/768172,MÃ¤nnlich,1940-02-16,Senior/in,NaN,FIQ27658,2020-08-02,Bestandskunde
498,499,6695,Elias,NaN,Hoffmann,Herr,19230,Lange,10,elias.hoffmann@gmx.net,038856/699772,Männlich,1950-01-15,Senior/in,Prof.,CNG07613,2020-05-22,Bestandskunde
499,500,8719,Mia,NaN,Kaiser,Frau,96196,Im,6,mia.kaiser@web.de,09504/206577,Weiblich,2005-09-28,Immobilienkaufmann/frau,NaN,STX90835,2020-06-24,Bestandskunde

In [59]:
dfd['Neukunden']

,Aktion,ID_Kunde,Kundennr,Vorname_1,Vorname_2,Nachname,Anrede,PLZ,Strasse,Hausnr,Mail,Tel,Geschlecht,Geburtsdatum,Beruf,Titel,PersoNr,PersoValidTo,2
0,Neukunde,62,6678,Noah,NaN,Kaiser,Herr,37620,Im,2,noah.kaiser@web.de,05533/409541,Männlich,1944-02-28,Senior/in,NaN,XVP47503,2025-06-05,314
1,Neukunde,63,5996,Julian,NaN,Schröder,Herr,15377,Neue,9,julian.schröder@gmail.com,033437/244553,Männlich,1939-08-05,Senior/in,NaN,RKJ42136,2022-01-03,315
2,Neukunde,64,7378,Sofia,NaN,Hoffmann,Frau,99628,Fliederweg,8,sofia.hoffmann@t-online.de,036373/802292,Weiblich,1978-07-24,Sektions- und Präparationsassistent/in,NaN,QAN35490,2025-08-16,316
3,Neukunde,65,8073,Mia,NaN,Wolf,Frau,88524,Rosenstraße,6,mia.wolf@t-online.de,07374/395656,Weiblich,1986-03-04,Immobilienwirt,NaN,KRQ91853,2025-06-06,317
4,Neukunde,66,9105,Jonas,NaN,Herrmann,Herr,99869,Kirchplatz,8,jonas.herrmann@gmail.com,03621/202533,Männlich,1976-05-29,Controller/in,Dr.,TAR62891,2023-03-23,318
5,Neukunde,67,5865,Lara,NaN,Wolf,Frau,83565,Königsberger,4,lara.wolf@web.de,08092/439859,Weiblich,1957-10-17,Rettungssanitäter/in,NaN,ZPW90287,2021-05-28,319
6,Neukunde,68,8074,Emily,NaN,Schulze,Frau,16259,Buchenweg,8,emily.schulze@web.de,033451/320243,Weiblich,1942-09-08,Senior/in,NaN,SPX95312,2021-08-13,320
7,Neukunde,69,3872,Leonie,NaN,Mayer,Frau,25712,Hauptstraße,6,leonie.mayer@gmail.com,04825/570120,Weiblich,1987-07-08,Bauzeichner/in,NaN,AMH06412,2022-05-18,321
8,Neukunde,70,5321,Ben,NaN,Köhler,Herr,67586,Kirchgasse,7,ben.köhler@gmx.net,06733/682676,Männlich,1965-11-03,Maler/in und Lackierer/in,NaN,XEV31827,2024-02-07,322
9,Neukunde,71,2529,Lena,NaN,Krause,Frau,86747,Wilhelmstraße,5,lena.krause@t-online.de,09087/143513,Weiblich,1980-05-11,Sektions- und Präparationsassistent/in,NaN,FEB46382,2022-10-17,323

In [14]:
dfd['Transaktion']

,Aktion,Datum,Fernleihe,ID_Exemplar,ID_Kunde,Titel,Autor,Jahr,Art,Kennung,Zugriffsort
0,Leihe,2025-01-14 19:00:00,False,295,5508,Love Story,Erich Segal,1970,Roman,bwc42965,wVE86507
1,Leihe,2025-01-14 19:00:00,False,179,2908,"Gödel, Escher, Bach – ein Endloses Geflochten...",Douglas R. Hofstadter,1979,Sachbuch,rKS31970,rWu13725
2,Rückgabe,2025-01-15 00:00:00,False,7,4187,Die Asche meiner Mutter,Frank McCourt,1996,Roman,CwE93710,plV36087
3,Leihe,2025-01-15 02:00:00,False,282,4946,Der Pate,Mario Puzo,1969,Roman,CdH54832,yFl09845
4,Leihe,2025-01-15 05:00:00,False,168,2712,Deutschland. Ein Wintermärchen,Heinrich Heine,1844,Epos,lkS13928,MOr03729
5,Leihe,2025-01-15 07:00:00,False,36,3314,Schindlers Liste,Thomas Keneally,1982,Roman,BdD79820,Sbn62495
6,Rückgabe,2025-01-15 12:00:00,False,37,1918,Kleiner Mann – was nun?,Hans Fallada,1932,Roman,Osy15037,lkW13504
7,Leihe,2025-01-15 12:00:00,False,198,2899,Struwwelpeter,Heinrich Hoffmann,1845,Kinderbuch,nRG51072,Dux16349
8,Leihe,2025-01-15 12:00:00,False,120,2445,Der arme Spielmann,Franz Grillparzer,1847,Novelle,uyI14523,HTR95106
9,Leihe,2025-01-15 15:00:00,False,168,6562,Eifel-Liebe,Jacques Berndorf,2002,Roman,qBZ67804,CFU80741
10,Leihe,2025-01-15 16:00:00,False,51,2754,Die Vollidioten,Eckhard Henscheid,1973,Roman,Pbc96502,nof78913
11,Leihe,2025-01-15 17:00:00,False,222,927,Die Physiologie des Geschmacks,Jean Anthelme Brillat-Savarin,1826,Sachbuch,DhC23850,bsa94127
12,Rückgabe,2025-01-15 22:00:00,False,129,40,"Gestern, vorgestern",Samuel Agnon,1945,Roman,utm96357,Mrd13620
13,Rückgabe,2025-01-16 03:00:00,False,229,5652,Der moderne Kapitalismus,Werner Sombart,1902,Sachbuch,STf31528,hmi27840
14,Leihe,2025-01-16 03:00:00,False,220,6467,Die Caine war ihr Schicksal,Herman Wouk,1951,Roman,NcB38246,GzL41308
15,Rückgabe,2025-01-16 08:00:00,False,289,673,Das Lachen,Henri Bergson,1900,Philosophie,mQI30964,knd90862
16,Leihe,2025-01-16 09:00:00,False,51,2521,Die Welträtsel,Ernst Haeckel,1899,Sachbuch,Jys60421,iFP02975
17,Leihe,2025-01-16 12:00:00,False,244,6279,Tod in Hollywood,Evelyn Waugh,1948,Roman,ZFg79136,Mif18239
18,Leihe,2025-01-16 15:00:00,False,292,4393,La Storia,Elsa Morante,1974,Roman,PfQ05619,aHA30421
19,Leihe,2025-01-16 16:00:00,False,173,5255,Die Geschichte meines Lebens,George Sand,1854,Roman,VtF96810,RBG59416
20,Rückgabe,2025-01-16 20:00:00,False,177,4854,Stalingrad,Theodor Plievier,1945,Roman,twF26749,xHr92703
21,Rückgabe,2025-01-17 00:00:00,False,109,2506,Schnee der auf Zedern fällt,David Guterson,1994,Roman,SyC36781,cIr61952
22,Leihe,2025-01-17 00:00:00,False,235,4937,Eugen Onegin,Alexander Puschkin,1833,Roman,juT78902,PmU23805

# Aufbau der Tabellen für das Core DWH

In [15]:
dfs={}

In [16]:
Kunde_cols={
    0:'ID_Kunde',
    1:'ID_Mitgliedsstatus',
    2:'Kundennr',
    3:'Vorname_1',
    4:'Vorname_2',
    5:'Nachname',
    6:'Anrede',
    7:'Titel',
    8:'PLZ',
    9:'Strasse',
   10:'Hausnr',
   11:'Mail',
   12:'Tel',
   13:'Geschlecht',
   14:'Geburtsdatum',
   15:'Beruf',
   16:'PersoNr',
   17:'PersoValidTo', 
   18:'Mitglied seit',
   19:'Mitglied bis' 
}

Bewertung_cols={
    1:'ID_Kunde',
    2:'ID_Buch',
    3:'Wertung',
    4:'Rezension'
}

Buch_cols={
    1:'ID_Kunde',
    2:'ID_Buch',
    3:'Wertung',
    4:'Rezension'
}

Exemplare_cols={
    1:'ID_Bestand',
    2:'Nr',
    3:'Kennung',
    4:'Zugriffsort',
    5:'Zustand'
}

Buch_cols={
    1:'ID_Autor',
    2:'Nr',
    3:'Titel',
    4:'Jahr',
    5:'Art',
}

Leihe_cols={
    0:'ID_Kunde',
    1:'ID_Exemplar',
    2:'Ausleihdatum',
    3:'Rueckgabedatum',
    4:'Verlaengerungsstatus',
    5:'Mahnstatus',
    6:'Fernleihe'
}

Mitgliedsstatus_cols={
    0:'ID_Mitgliedsstatus',
    2:'Bezeichnung',
    3:'Jahresbeitrag',
    4:'Mahnbetrag'
}

Beitragszahlung_cols={
    0:'ID_Zahlung',
    2:'ID_Kunde',
    3:'Datum',
    4:'Betrag',
}

In [17]:
dfs['Kunde']     = dfd['Neukunden'].reindex(columns=list(Kunde_cols.values()))
dfs['Bewertung'] = dfd['Bewertung'].reindex(columns=list(Bewertung_cols.values()))
dfs['Exemplare'] = df_bestand.reindex(columns=list(Exemplare_cols.values())).rename(columns={
                                                                        'ID_Bestand':'ID_Exemplar',
                                                                        'Nr':'ID_Buch'    
                                                                        })

dfs['Autor']   = df_bestand[['Autor', 'Herkunft']].drop_duplicates().reset_index(drop=True).reset_index().rename(columns={'index':'ID_Autor'})

dfs['Buch']    = pd.merge(df_bestand, 
                          dfs['Autor'], 
                          on=['Autor']
                         )[list(Buch_cols.values())]                                  \
                                                    .drop_duplicates()                \
                                                    .reset_index(drop=True)           \
                                                    .rename(columns={'Nr':'ID_Buch'})

dfs['Leihe'] = dfd['Transaktion'].reindex(columns=list(Leihe_cols.values())).reset_index().rename(columns={'index':'ID_Leihe'})


### more ###
dfs['Mitgliedsstatus'] = pd.DataFrame(columns=list(Mitgliedsstatus_cols.values()))
dfs['Beitragszahlung'] = dfd['Neukunden'].reindex(columns=list(Beitragszahlung_cols.values()))

In [18]:
dfs['Leihe'][['Ausleihdatum']]

dfd['Transaktion']

df = dfs['Leihe'].copy()
#df.loc[df["Aktion"] == "Leihe", "gender"] = 1

In [19]:

dfs['Leihe']['Ausleihdatum']=pd.to_datetime(dfs['Leihe']['Ausleihdatum'])
dfs['Leihe'].loc[dfd['Transaktion']['Aktion'] == "Leihe", "Ausleihdatum"] = dfd['Transaktion']['Datum']

dfs['Leihe']['Rueckgabedatum']=pd.to_datetime(dfs['Leihe']['Rueckgabedatum'])
dfs['Leihe'].loc[dfd['Transaktion']['Aktion'] == "Rückgabe", "Rueckgabedatum"] = dfd['Transaktion']['Datum']

In [20]:
dfs['Leihe']

,ID_Leihe,ID_Kunde,ID_Exemplar,Ausleihdatum,Rueckgabedatum,Verlaengerungsstatus,Mahnstatus,Fernleihe
0,0,5508,295,2025-01-14 19:00:00,NaT,NaN,NaN,False
1,1,2908,179,2025-01-14 19:00:00,NaT,NaN,NaN,False
2,2,4187,7,NaT,2025-01-15 00:00:00,NaN,NaN,False
3,3,4946,282,2025-01-15 02:00:00,NaT,NaN,NaN,False
4,4,2712,168,2025-01-15 05:00:00,NaT,NaN,NaN,False
5,5,3314,36,2025-01-15 07:00:00,NaT,NaN,NaN,False
6,6,1918,37,NaT,2025-01-15 12:00:00,NaN,NaN,False
7,7,2899,198,2025-01-15 12:00:00,NaT,NaN,NaN,False
8,8,2445,120,2025-01-15 12:00:00,NaT,NaN,NaN,False
9,9,6562,168,2025-01-15 15:00:00,NaT,NaN,NaN,False
10,10,2754,51,2025-01-15 16:00:00,NaT,NaN,NaN,False
11,11,927,222,2025-01-15 17:00:00,NaT,NaN,NaN,False
12,12,40,129,NaT,2025-01-15 22:00:00,NaN,NaN,False
13,13,5652,229,NaT,2025-01-16 03:00:00,NaN,NaN,False
14,14,6467,220,2025-01-16 03:00:00,NaT,NaN,NaN,False
15,15,673,289,NaT,2025-01-16 08:00:00,NaN,NaN,False
16,16,2521,51,2025-01-16 09:00:00,NaT,NaN,NaN,False
17,17,6279,244,2025-01-16 12:00:00,NaT,NaN,NaN,False
18,18,4393,292,2025-01-16 15:00:00,NaT,NaN,NaN,False
19,19,5255,173,2025-01-16 16:00:00,NaT,NaN,NaN,False
20,20,4854,177,NaT,2025-01-16 20:00:00,NaN,NaN,False
21,21,2506,109,NaT,2025-01-17 00:00:00,NaN,NaN,False
22,22,4937,235,2025-01-17 00:00:00,NaT,NaN,NaN,False

%6|1727373654.407|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Disconnected (after 175203ms in state UP, 1 identical error(s) suppressed)
%6|1727373654.408|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY)
%6|1727373654.635|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY)
%6|1727373654.652|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY, 1 identical error(s) suppressed)
%6|1727373654.880|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY, 1 identical error(s) suppressed)
%3|1727373658.250|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT)
%3|1727373658.284|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT)
%3|1727373658.806|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT)
%3|1727373685.023|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 19 identical error(s) suppressed)
%3|1727373686.023|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 17 identical error(s) suppressed)
%3|1727373687.995|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 3 identical error(s) suppressed)

In [ ]:
df.columns

%6|1727427857.981|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY)
%6|1727427857.981|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY)
%6|1727427858.255|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY, 1 identical error(s) suppressed)
%6|1727427858.276|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY, 1 identical error(s) suppressed)
%3|1727427861.984|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT)
%3|1727427862.191|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT)
%3|1727427863.247|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT)
%6|1727427872.351|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Disconnected (after 0ms in state APIVERSION_QUERY)
%6|1727427872.352|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY)
%5|1727427877.413|PARTCNT|rdkafka#consumer-1| [thrd:main]: Topic Transaktion partition count changed from 1 to 0
%5|1727427877.413|PARTCNT|rdkafka#consumer-1| [thrd:main]: Topic Bewertung partition count changed from 1 to 0
%5|1727427877.413|PARTCNT|rdkafka#consumer-1| [thrd:main]: Topic Neukunden partition count changed from 1 to 0
%4|1727427877.413|CLUSTERID|rdkafka#consumer-1| [thrd:main]: Broker 0.0.0.0:9092/bootstrap reports different ClusterId "46LAqw0-QiS1vDDzr9Y0zQ" than previously known "bSIPLCEXR-Ky5noOiLJfXg": a client must not be simultaneously connected to multiple clusters

# Schicke die Tabellen an den SQL Server

In [37]:
from sqlalchemy import create_engine, inspect, text

USER = 'root'
PASSWORD = 'root'
HOST = 'localhost'          # see yml file
PORT = 3307
DATABASE = 'test_db_1'
 

def get_connection(database=DATABASE):
    return create_engine(
        url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}"\
            .format(USER, PASSWORD, HOST, PORT, database)
    )

engine = get_connection('mysql')
with engine.connect() as connection:
    insp = inspect(engine)
    db_list = insp.get_schema_names()
    print(f"Connection to the {HOST} for user {USER} created successfully.")
    if DATABASE not in db_list:
        sql = text(f"CREATE DATABASE {DATABASE} CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;")
        result = connection.execute(sql)
        if result:
            print(f"Database {DATABASE} created!")

Connection to the localhost for user root created successfully.

In [38]:
for Tabelle in dfs.keys():
    dfs[Tabelle].to_sql(Tabelle, con=engine,schema=DATABASE, index=False, if_exists='append')

In [119]:


CDW_Tabellen_Liste = insp.get_table_names()

Statische_Tabellen = ['Exemplare', 'Autor', 'Buch']

for Tabelle in Statische_Tabellen:
    if Tabelle not in CDW_Tabellen_Liste:
        dfs[Tabelle].to_sql(Tabelle, con=engine,schema=DATABASE, index=False, if_exists='replace') 

for Tabelle in dfs.keys():
    if Tabelle not in Statische_Tabellen:
        dfs[Tabelle].to_sql(Tabelle, con=engine,schema=DATABASE, index=False, if_exists='append')

Kunde
Bewertung
Leihe
Mitgliedsstatus
Beitragszahlung

%3|1727373845.031|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 19 identical error(s) suppressed)
%3|1727373868.033|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 21 identical error(s) suppressed)
%3|1727373871.073|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 3 identical error(s) suppressed)
%3|1727373875.033|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 16 identical error(s) suppressed)
%3|1727373903.034|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 19 identical error(s) suppressed)
%3|1727373905.034|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 19 identical error(s) suppressed)
%3|1727373909.059|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 4 identical error(s) suppressed)
%3|1727373934.035|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 22 identical error(s) suppressed)
%3|1727373937.034|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 17 identical error(s) suppressed)
%3|1727373948.267|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 4 identical error(s) suppressed)
%3|1727373965.036|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 16 identical error(s) suppressed)
%3|1727373968.021|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 24 identical error(s) suppressed)
%3|1727373988.020|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 4 identical error(s) suppressed)
%3|1727373996.037|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 15 identical error(s) suppressed)
%3|1727373998.021|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 22 identical error(s) suppressed)
%3|1727374018.021|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 3 identical error(s) suppressed)
%3|1727374026.038|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 17 identical error(s) suppressed)
%3|1727374028.611|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 20 identical error(s) suppressed)
%3|1727374056.157|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 4 identical error(s) suppressed)
%3|1727374058.041|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 16 identical error(s) suppressed)
%3|1727374058.613|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 25 identical error(s) suppressed)
%3|1727374088.042|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 18 identical error(s) suppressed)
%3|1727374088.614|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 21 identical error(s) suppressed)
%3|1727374095.045|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 4 identical error(s) suppressed)
%3|1727374118.043|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 19 identical error(s) suppressed)
%3|1727374119.043|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 19 identical error(s) suppressed)
%3|1727374131.737|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 4 identical error(s) suppressed)
%3|1727374148.044|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 16 identical error(s) suppressed)
%3|1727374149.044|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 23 identical error(s) suppressed)
%3|1727374168.639|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 4 identical error(s) suppressed)
%3|1727374178.045|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 18 identical error(s) suppressed)
%3|1727374179.046|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 19 identical error(s) suppressed)
%3|1727374206.805|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 4 identical error(s) suppressed)
%3|1727374208.619|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 14 identical error(s) suppressed)
%3|1727374209.047|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 24 identical error(s) suppressed)
%3|1727374236.805|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 3 identical error(s) suppressed)
%3|1727374239.048|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 16 identical error(s) suppressed)
%3|1727374240.048|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 24 identical error(s) suppressed)
%3|1727374269.050|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 20 identical error(s) suppressed)
%3|1727374272.050|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 19 identical error(s) suppressed)
%3|1727374276.118|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 4 identical error(s) suppressed)
%3|1727374299.052|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 21 identical error(s) suppressed)
%3|1727374303.621|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 19 identical error(s) suppressed)
%3|1727374313.608|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Connect to ipv4#127.0.0.1:9092 failed: Connection refused (after 0ms in state CONNECT, 4 identical error(s) suppressed)
%3|1727374329.053|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Connect to ipv4#0.0.0.0:9092 failed: Connection refused (after 0ms in state CONNECT, 20 identical error(s) suppressed)
%6|1727374336.053|FAIL|rdkafka#consumer-1| [thrd:0.0.0.0:9092/bootstrap]: 0.0.0.0:9092/bootstrap: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY)
%6|1727374336.325|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY)
%6|1727374336.605|FAIL|rdkafka#consumer-1| [thrd:127.0.0.1:9092/1]: 127.0.0.1:9092/1: Disconnected while requesting ApiVersion: might be caused by incorrect security.protocol configuration (connecting to a SSL listener?) or broker version is < 0.10 (see api.version.request) (after 0ms in state APIVERSION_QUERY, 1 identical error(s) suppressed)
%6|1727374341.929|FAIL|rdkafka#consumer-1| [thrd:GroupCoordinator]: GroupCoordinator: 127.0.0.1:9092: Disconnected (after 1ms in state APIVERSION_QUERY)
%5|1727374351.965|PARTCNT|rdkafka#consumer-1| [thrd:main]: Topic Bewertung partition count changed from 1 to 0
%5|1727374351.966|PARTCNT|rdkafka#consumer-1| [thrd:main]: Topic Neukunden partition count changed from 1 to 0
%4|1727374351.966|CLUSTERID|rdkafka#consumer-1| [thrd:main]: Broker GroupCoordinator/1 reports different ClusterId "hiejHQUyRHedEDoUOSGqbA" than previously known "Huawp7d3QN-2fETxNr0jmA": a client must not be simultaneously connected to multiple clusters

In [ ]:
df_bestandskunden = pd.read_csv('data/Kunde.csv', sep=',', encoding='unicode_escape')

df_bestandskunden['Aktion'] = pd.Series(['Bestandskunde' for x in range(len(df_bestandskunden.index))])


# IDs zu int konvertieren
df_bestandskunden['ID_Kunde'] = pd.to_numeric(df_bestandskunden['ID_Kunde']).astype(int)
df_bestandskunden['Kundennr'] = pd.to_numeric(df_bestandskunden['Kundennr']).astype(int)

# Anreden konsistent machen 

df_bestandskunden['Anrede'] = df_bestandskunden['Anrede'].replace(['Fr\.'],'Frau', regex=True)
df_bestandskunden['Anrede'] = df_bestandskunden['Anrede'].replace(['Hr\.'],'Herr', regex=True)

df_bestandskunden['Hausnr']  = np.where(df_bestandskunden['Hausnr'].astype(str).str.contains("NaN"), np.nan, df_bestandskunden['Hausnr'] )
# 4-stellige PLZ mit "0" präfixen 
df_bestandskunden['PLZ']    = df_bestandskunden['PLZ'].astype(str).str.strip().str.rjust(5, '0')

# Hausnummern aus Strasse-Spalte extrahieren
def extract_hausnr(strasse):
  if pd.isna(strasse):
    return np.nan
  parts = strasse.split()
  if len(parts) > 1 and parts[-1].isdigit():
    return parts[-1]
  else:
    return np.nan
#Apply extract_hausnr, wenn 'Hausnr' NaN und entferne die Hausnummern aus der Strasse Spalte
df_bestandskunden.loc[df_bestandskunden['Hausnr'].isnull(), 'Hausnr'] = df_bestandskunden.loc[df_bestandskunden['Hausnr'].isnull(), 'Strasse'].apply(extract_hausnr)
df_bestandskunden['Strasse'] = df_bestandskunden['Strasse'].str.rsplit(expand=True)[0]
# Convert Hausnr to int
df_bestandskunden['Hausnr'] = pd.to_numeric(df_bestandskunden['Hausnr']).astype('Int64')

# Geschlecht konsistent machen 
df_bestandskunden['Geschlecht'] = df_bestandskunden['Geschlecht'].str.strip().replace(["^w$", "^W$"],'Weiblich', regex=True)
df_bestandskunden['Geschlecht'] = df_bestandskunden['Geschlecht'].str.strip().replace(["^m$", "^M$"],'Männlich', regex=True)

# Datumsspalten konsistent machen
df_bestandskunden['Geburtsdatum'] = pd.to_datetime(df_bestandskunden['Geburtsdatum'],format='mixed', dayfirst=True)
df_bestandskunden['PersoValidTo'] = pd.to_datetime(df_bestandskunden['PersoValidTo'],format='mixed', dayfirst=True)


df_bestandskunden = df_bestandskunden.reindex(columns=list(Kunde_cols.values()))