In [9]:
from sqlalchemy import create_engine, inspect, text
import pandas as pd


USER = 'root'
PASSWORD = 'root'
HOST = 'localhost'          # see yml file
PORT = 3307
DATABASE = 'test_db_1'
 

def get_connection(database=DATABASE):
    return create_engine(
        url="mysql+pymysql://{0}:{1}@{2}:{3}/{4}"\
            .format(USER, PASSWORD, HOST, PORT, database)
    )

In [10]:
 
if __name__ == '__main__':
    try:
        engine = get_connection('mysql')
        with engine.connect() as connection:
            insp = inspect(engine)
            db_list = insp.get_schema_names()
            print(f"Connection to the {HOST} for user {USER} created successfully.")
            if DATABASE not in db_list:
                sql = text(f"CREATE DATABASE {DATABASE} CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;")
                result = connection.execute(sql)
                if result:
                    print(f"Database {DATABASE} created!")
    except Exception as ex:
        print("Connection could not be made due to the following error: \n", ex)

Connection to the localhost for user root created successfully.
Database test_db_1 created!

In [ ]:
sql = text(f"CREATE DATABASE {DATABASE} CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci;")
result = connection.execute(sql)

In [13]:

df = pd.read_csv("data/Kunde.csv",sep=',')

df.head()


# df.to_sql('Kunde', con=engine, index=False, if_exists='replace')    # if_exists='append'

#dic = {"a": [1,2,3], "b":[3,4,5]}
#df = pd.DataFrame(data=dic)
#df.to_sql('test', con=engine, index=False, if_exists='replace')

,ID_Kunde,Kundennr,Vorname_1,Vorname_2,Nachname,Anrede,PLZ,Strasse,Hausnr,Mail,Tel,Geschlecht,Geburtsdatum,Beruf,Titel,PersoNr,PersoValidTo
0,1,8366,Elias,NaN,Kaiser,Herr,24619,Mozartstraße 8,NaN,elias.kaiser@web.de,04323/829874,m,22.02.1988,Product Owner,Dr.,NPE20376,2021-05-27
1,2,9208,Elias,NaN,König,Herr,54574,Mühlenstraße,1.0,elias.könig@gmail.com,06594/313132,M,28/07/1997,Sektions- und Präparationsassistent/in,NaN,GMN18965,2024-01-26
2,3,3837,Moritz,NaN,Müller,Herr,1097,Eichendorffstraße,8.0,moritz.müller@gmail.com,0351/156882,m,1963-08-20,Data Analyst,NaN,DNS52984,2022-11-05
3,4,7306,Leonie,NaN,Herrmann,Frau,23923,Marktplatz,1.0,leonie.herrmann@web.de,038821/70723,w,07/07/1952,Senior/in,NaN,IXU64239,27.03.2025
4,5,4589,Elias,NaN,Krüger,Herr,55469,Kirchweg,4.0,elias.krüger@gmail.com,06766/872686,m,13.07.1995,Landwirt/in,NaN,MJB45392,2025-01-15

In [15]:
df.head().to_sql('Kunde_test', con=engine, index=False, if_exists='replace')    # if_exists='append'

5

In [ ]:
df.to_sql(file[:-4], con=engine, index=False, if_exists='replace')